*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
html{height: 100%;}
body{
    display:flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    margin:3%;
}
               
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}
h1 {
    font-size: 200%;
}
     
h2 {
    margin: 2% 0;
    font-size: 180%;
}
      
nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
      
nav a {
    color: #0b8e37;
    font-weight: bold;
    text-decoration: none;
}
      
nav a:hover {
    color: #fff;
}
main{
    display:flex;
    flex-wrap: wrap;
    margin:2%;
    justify-content: space-between;
    padding: 20px;
    background: rgb(216, 183, 142);
    color: midnightblue;
}
.nameMe{
    justify-content:start;
}

.lead-header{
    flex: 1 0 200px;
   /* flex-wrap: wrap;
    text-align: start;*/
}
.lead-header nav{
    /*flex: 1 0 200px;
    text-align: end;*/
}
.lead-header img{
    height: 100px;

}

.main-header{
    flex: 1 0 200px;
}
.about-me{
    flex: 1 0 200px;
}
.my-work{
    flex: 1 0 200px;
    
}
.my-work img{
    flex: 2 1 200px;
}
.contactme{
    flex: 1 0 200px;
}
@media screen and 