*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
html{height: 100%;}
body{
    display:flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    margin:3%;
}
               
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}
h1 {
    font-size: 200%;
}
     
h2 {
    margin: 2% 0;
    font-size: 180%;
}
h3{
    Font-size: 150%;
}
      
nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
      
nav a {
    color: #0b8e37;
    font-weight: bold;
    text-decoration: none;
}
      
nav a:hover {
    color: #fff;
}
main{
    display:flex;
    flex-wrap: wrap;
    margin:2%;
    justify-content: space-between;
    vertical-align: middle;
    padding: 20px;
    background: rgb(216, 183, 142);
    color: midnightblue;
}
.lead-header{
    display:flex;
    flex: 1 0 200px;
}
.nameMe{
    justify-content:start;

}

.nameMe img{
    height: 100px;
    width: 75px;
    border-radius: 50%;
}

.main-header{
    float: left;
    padding: 20px 20px 40px 60px;
    text-align: right;
    margin-left: 50;
    margin-right: 50;
    font-size: 36px;
    border-right-style: groove;
    border-right-width: medium;
    border-right-color: darkslategray;
    flex: 1 0 200px;
}
#about-me{
    display:flex;
    
}
#mywork{
    display:inline-flex;
    margin-top: 20px;
    margin-left: 15px;

    
}
.wk1 img{
    display: flex;
    max-width: 100%;
    height: auto;
    box-align:right;
    margin-right: 20px;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 12px;
}
.wk1{grid-area:1/1/3/3;}
.wk2{grid-area:3/1/4/2;}
.wk3{grid-area:3/2/4/3;}
.wk4{grid-area:4/1/5/2;}
.wk5{grid-area:4/2/5/3;}

.wk1 a {
    display:flex;
    flex-wrap:wrap;
    flex:100%;
    padding:0 4px;
    position:relative;
}

.wklink{
    position:absolute;
}
.wklink{
    color:navy;
}

.wk2 a {
    display:flex;
    flex-wrap:wrap;
    flex:100%;
    padding:0 4px;
    position:relative;
}
.wklink{
    position:absolute;
}
.wklink{
    color:whitesmoke;
}

.wk2 img{
    vertical-align: middle;
    width: 100%;
}
.wk3 a {
    display:flex;
    flex-wrap:wrap;
    flex:100%;
    padding:0 4px;
    position:relative;
}
.wklink{
    position:absolute;
}
.wklink{
    color:whitesmoke;
}
.wk3 img{
    vertical-align: middle;
    width: 100%;
}
.wk4 a {
    display:flex;
    flex-wrap:wrap;
    flex:100%;
    padding:0 4px;
    position:relative;
}
.wklink{
    position:absolute;
}
.wk4 img{
    vertical-align: middle;
    width: 100%;
}
.wk5 a {
    display:flex;
    flex-wrap:wrap;
    flex:100%;
    padding:0 4px;
    position:relative;
}
.wklink{
    position:absolute;
}
.wk5 img{
    vertical-align: middle;
    width: 100%;
}

#contactme{
   bottom: -1200;
   display:flex;
   align-items: center;
}

@media screen and (max-width 768px){
    main,
    nav,
    .grid{flex-direction: column;}
}
